# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd

In [13]:
url_1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
file_1 = pd.read_csv(url_1)

In [14]:
file_1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
file_2 = pd.read_csv(url_2)

In [16]:
file_2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [17]:
url_3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
file_3 = pd.read_csv(url_3)

In [18]:
file_3

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [44]:
# Concatenate vertically 
file_combined = pd.concat([file_1, file_2, file_3], ignore_index=True)

In [45]:
# Save the result to a new CSV
file_combined.to_csv("file_combined.csv", index=False)
file_combined

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,State,Gender
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,NaN,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,California,M
12070,PK87824,NaN,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,California,F
12071,TD14365,NaN,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California,M
12072,UP19263,NaN,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,California,M
12073,Y167826,NaN,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California,M

In [46]:
print("Original columns:", file_combined.columns.tolist())

Original columns: ['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'State', 'Gender']

In [47]:
# Function to clean column names
def clean_column_names(columns):
    new_cols = []
    for col in columns:
        col = col.upper()                 
        col = col.strip()                 
        col = col.replace(" ", "_")         
        new_cols.append(col)
    return new_cols

In [48]:
file_combined.columns = clean_column_names(file_combined.columns)

In [49]:
file_combined

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER_LIFETIME_VALUE,INCOME,MONTHLY_PREMIUM_AUTO,NUMBER_OF_OPEN_COMPLAINTS,POLICY_TYPE,VEHICLE_CLASS,TOTAL_CLAIM_AMOUNT,STATE,GENDER
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,NaN,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,California,M
12070,PK87824,NaN,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,California,F
12071,TD14365,NaN,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California,M
12072,UP19263,NaN,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,California,M
12073,Y167826,NaN,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California,M

In [50]:
# data_cleaning.py

def standardize_gender(file_combined, column="GENDER"):
    """Standardize Gender column to 'M' and 'F'."""
    if column in file_combined.columns:
        file_combined[column] = file_combined[column].str.upper().replace({
            "FEMALE": "F",
            "FEMAL": "F",
            "MALE": "M"
        })
    return file_combined
    
def standardize_states(file_combined, column="STATES"):
    """Replace state abbreviations with full names."""
    state_mapping = {
        "AZ": "Arizona",
        "Cali": "California",
        "WA": "Washington"
        }
    if column in file_combined.columns:
        file_combined[column] = file_combined[column].replace(state_mapping)
    return file_combined

def standardize_education(file_combined, column="EDUCATION"):
    """Standardize education column (Bachelors -> Bachelor)."""
    if column in file_combined.columns:
        file_combined[column] = file_combined[column].replace({
            "Bachelors": "Bachelor"
        })
    return file_combined

def clean_customer_lifetime_value(file_combined, column="CUSTOMER_LIFETIME_VALUE"):
    """Remove % or $ and convert to numeric."""
    if column in file_combined.columns:
        file_combined[column] = file_combined[column].astype(str).str.replace("%", "").str.replace("$", "").str.strip()
        file_combined[column] = pd.to_numeric(file_combined[column], errors='coerce')
    return file_combined

def standardize_vehicle_class(file_combined, column="VEHICLE_CLASS"):
    """Standardize vehicle class to simpler categories."""
    if column in file_combined.columns:
        file_combined[column] = file_combined[column].replace({
            "Sports Car": "Luxury",
            "Luxury SUV": "Luxury",
            "Luxury Car": "Luxury"
        })
    return file_combined

def clean_number_of_open_complaints(file_combined, column="NUMBER_OF_OPEN_COMPLAINTS"):
    """Extract middle value from strings like '1/5/00' and convert to numeric."""
    if column in file_combined.columns:
        def extract_middle(value):
            if pd.isna(value):
                return 0
            parts = str(value).split("/")
            return int(parts[1]) if len(parts) >= 2 else int(parts[0])
        file_combined[column] = file_combined[column].apply(extract_middle)
    return file_combined

def fill_missing_values(file_combined):
    """Fill missing numeric values with mean, categorical with mode."""
    num_cols = file_combined.select_dtypes(include=['int64', 'float64']).columns
    cat_cols = file_combined.select_dtypes(include=['object', 'category']).columns

    for col in num_cols:
        file_combined[col].fillna(file_combined[col].mean(), inplace=True)
    for col in cat_cols:
        file_combined[col].fillna(file_combined[col].mode()[0], inplace=True)
    return file_combined

def drop_duplicates(file_combined, subset=None):
    """Drop duplicate rows based on optional subset of columns."""
    file_combined.drop_duplicates(subset=subset, keep='first', inplace=True)
    file_combined.reset_index(drop=True, inplace=True)
    return file_combined

In [53]:
def main(file_combined):
    """Main function to perform all cleaning and formatting steps."""
    file_combined = standardize_gender(file_combined)
    file_combined = standardize_states(file_combined)
    file_combined = standardize_education(file_combined)
    file_combined = clean_customer_lifetime_value(file_combined)
    file_combined = standardize_vehicle_class(file_combined)
    file_combined = clean_number_of_open_complaints(file_combined)
    file_combined = fill_missing_values(file_combined)
    file_combined = drop_duplicates(file_combined)
    return file_combined

In [54]:
file_combined

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER_LIFETIME_VALUE,INCOME,MONTHLY_PREMIUM_AUTO,NUMBER_OF_OPEN_COMPLAINTS,POLICY_TYPE,VEHICLE_CLASS,TOTAL_CLAIM_AMOUNT,STATE,GENDER
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN,NaN
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,NaN,NaN
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,NaN,NaN
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,NaN,NaN
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,NaN,NaN,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,California,M
12070,PK87824,NaN,NaN,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,California,F
12071,TD14365,NaN,NaN,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California,M
12072,UP19263,NaN,NaN,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,California,M
12073,Y167826,NaN,NaN,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California,M

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [31]:
url_4 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
marketing_customer_analysis = pd.read_csv(url_4)

In [32]:
marketing_customer_analysis

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [33]:
print("Original columns:", marketing_customer_analysis.columns.tolist())

Original columns: ['unnamed:_0', 'customer', 'state', 'customer_lifetime_value', 'response', 'coverage', 'education', 'effective_to_date', 'employmentstatus', 'gender', 'income', 'location_code', 'marital_status', 'monthly_premium_auto', 'months_since_last_claim', 'months_since_policy_inception', 'number_of_open_complaints', 'number_of_policies', 'policy_type', 'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size', 'vehicle_type', 'month']

In [37]:
# Function to clean column names
def clean_column_names_1(columns):
    new_cols = []
    for col in columns:
        col = col.upper()                 
        col = col.strip()                 
        col = col.replace(" ", "_")   
        new_cols.append(col)
    return new_cols

In [38]:
marketing_customer_analysis.columns = clean_column_names_1(marketing_customer_analysis.columns)

In [39]:
marketing_customer_analysis

,UNNAMED:_0,CUSTOMER,STATE,CUSTOMER_LIFETIME_VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE_TO_DATE,EMPLOYMENTSTATUS,GENDER,...,NUMBER_OF_POLICIES,POLICY_TYPE,POLICY,RENEW_OFFER_TYPE,SALES_CHANNEL,TOTAL_CLAIM_AMOUNT,VEHICLE_CLASS,VEHICLE_SIZE,VEHICLE_TYPE,MONTH
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [40]:
marketing_customer_analysis = marketing_customer_analysis.rename(columns={'EMPLOYMENTSTATUS': 'EMPLOYMENT_STATUS'})
marketing_customer_analysis

,UNNAMED:_0,CUSTOMER,STATE,CUSTOMER_LIFETIME_VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE_TO_DATE,EMPLOYMENT_STATUS,GENDER,...,NUMBER_OF_POLICIES,POLICY_TYPE,POLICY,RENEW_OFFER_TYPE,SALES_CHANNEL,TOTAL_CLAIM_AMOUNT,VEHICLE_CLASS,VEHICLE_SIZE,VEHICLE_TYPE,MONTH
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [41]:
marketing_customer_analysis = marketing_customer_analysis.drop(columns=["UNNAMED:_0"])
marketing_customer_analysis

,CUSTOMER,STATE,CUSTOMER_LIFETIME_VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE_TO_DATE,EMPLOYMENT_STATUS,GENDER,INCOME,...,NUMBER_OF_POLICIES,POLICY_TYPE,POLICY,RENEW_OFFER_TYPE,SALES_CHANNEL,TOTAL_CLAIM_AMOUNT,VEHICLE_CLASS,VEHICLE_SIZE,VEHICLE_TYPE,MONTH
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [55]:
# data_cleaning.py

def standardize_gender(marketing_customer_analysis, column="GENDER"):
    """Standardize Gender column to 'M' and 'F'."""
    if column in file_combined.columns:
        marketing_customer_analysis[column] = marketing_customer_analysis[column].str.upper().replace({
            "FEMALE": "F",
            "FEMAL": "F",
            "MALE": "M"
        })
    return marketing_customer_analysis
    
def standardize_states(marketing_customer_analysis, column="STATES"):
    """Replace state abbreviations with full names."""
    state_mapping = {
        "AZ": "Arizona",
        "Cali": "California",
        "WA": "Washington"
        }
    if column in marketing_customer_analysis.columns:
        marketing_customer_analysis[column] = marketing_customer_analysis[column].replace(state_mapping)
    return marketing_customer_analysis

def standardize_education(marketing_customer_analysis, column="EDUCATION"):
    """Standardize education column (Bachelors -> Bachelor)."""
    if column in marketing_customer_analysis.columns:
        marketing_customer_analysis[column] = marketing_customer_analysis[column].replace({
            "Bachelors": "Bachelor"
        })
    return marketing_customer_analysis

def clean_customer_lifetime_value(marketing_customer_analysis, column="CUSTOMER_LIFETIME_VALUE"):
    """Remove % or $ and convert to numeric."""
    if column in marketing_customer_analysis.columns:
        marketing_customer_analysis[column] = marketing_customer_analysis[column].astype(str).str.replace("%", "").str.replace("$", "").str.strip()
        marketing_customer_analysis[column] = pd.to_numeric(marketing_customer_analysis[column], errors='coerce')
    return marketing_customer_analysis

def standardize_vehicle_class(marketing_customer_analysis, column="VEHICLE_CLASS"):
    """Standardize vehicle class to simpler categories."""
    if column in file_combined.columns:
        marketing_customer_analysis[column] = marketing_customer_analysis[column].replace({
            "Sports Car": "Luxury",
            "Luxury SUV": "Luxury",
            "Luxury Car": "Luxury"
        })
    return marketing_customer_analysis

def clean_number_of_open_complaints(marketing_customer_analysis, column="NUMBER_OF_OPEN_COMPLAINTS"):
    """Extract middle value from strings like '1/5/00' and convert to numeric."""
    if column in marketing_customer_analysis.columns:
        def extract_middle(value):
            if pd.isna(value):
                return 0
            parts = str(value).split("/")
            return int(parts[1]) if len(parts) >= 2 else int(parts[0])
        marketing_customer_analysis[column] = marketing_customer_analysis[column].apply(extract_middle)
    return marketing_customer_analysis

def fill_missing_values(marketing_customer_analysis):
    """Fill missing numeric values with mean, categorical with mode."""
    num_cols = marketing_customer_analysis.select_dtypes(include=['int64', 'float64']).columns
    cat_cols = marketing_customer_analysis.select_dtypes(include=['object', 'category']).columns

    for col in num_cols:
        marketing_customer_analysis[col].fillna(marketing_customer_analysis[col].mean(), inplace=True)
    for col in cat_cols:
        marketing_customer_analysis[col].fillna(marketing_customer_analysis[col].mode()[0], inplace=True)
    return marketing_customer_analysis

def drop_duplicates(marketing_customer_analysis, subset=None):
    """Drop duplicate rows based on optional subset of columns."""
    marketing_customer_analysis.drop_duplicates(subset=subset, keep='first', inplace=True)
    marketing_customer_analysis.reset_index(drop=True, inplace=True)
    return marketing_customer_analysis

In [56]:
def main(marketing_customer_analysis):
    """Main function to perform all cleaning and formatting steps."""
    marketing_customer_analysis = standardize_gender(marketing_customer_analysis)
    marketing_customer_analysis = standardize_states(marketing_customer_analysis)
    marketing_customer_analysis = standardize_education(marketing_customer_analysis)
    marketing_customer_analysis = clean_customer_lifetime_value(marketing_customer_analysis)
    marketing_customer_analysis = standardize_vehicle_class(marketing_customer_analysis)
    marketing_customer_analysis = clean_number_of_open_complaints(marketing_customer_analysis)
    marketing_customer_analysis = fill_missing_values(marketing_customer_analysis)
    marketing_customer_analysis = drop_duplicates(marketing_customer_analysis)
    return marketing_customer_analysis

In [57]:
marketing_customer_analysis

,CUSTOMER,STATE,CUSTOMER_LIFETIME_VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE_TO_DATE,EMPLOYMENT_STATUS,GENDER,INCOME,...,NUMBER_OF_POLICIES,POLICY_TYPE,POLICY,RENEW_OFFER_TYPE,SALES_CHANNEL,TOTAL_CLAIM_AMOUNT,VEHICLE_CLASS,VEHICLE_SIZE,VEHICLE_TYPE,MONTH
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury,Medsize,A,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [58]:
# Get unique values
print(marketing_customer_analysis['RESPONSE'].unique())

['No' 'Yes']

In [59]:
# Get unique values
print(marketing_customer_analysis['COVERAGE'].unique())

['Basic' 'Extended' 'Premium']

In [60]:
# Get unique values
print(marketing_customer_analysis['EFFECTIVE_TO_DATE'].unique())

['2011-02-18' '2011-01-18' '2011-02-10' '2011-01-11' '2011-01-17'
 '2011-02-14' '2011-02-24' '2011-01-19' '2011-01-04' '2011-01-02'
 '2011-02-07' '2011-01-31' '2011-01-26' '2011-02-28' '2011-01-16'
 '2011-02-26' '2011-02-23' '2011-01-15' '2011-02-02' '2011-02-15'
 '2011-01-24' '2011-02-21' '2011-02-22' '2011-01-07' '2011-01-28'
 '2011-02-08' '2011-02-12' '2011-02-20' '2011-01-05' '2011-02-19'
 '2011-01-03' '2011-02-03' '2011-01-22' '2011-01-23' '2011-02-05'
 '2011-02-13' '2011-01-25' '2011-02-16' '2011-02-01' '2011-01-27'
 '2011-01-12' '2011-01-20' '2011-02-06' '2011-02-11' '2011-01-21'
 '2011-01-29' '2011-01-09' '2011-02-09' '2011-02-27' '2011-01-01'
 '2011-02-17' '2011-02-25' '2011-01-13' '2011-01-06' '2011-02-04'
 '2011-01-14' '2011-01-10' '2011-01-08' '2011-01-30']

In [61]:
# Get unique values
print(marketing_customer_analysis['EMPLOYMENT_STATUS'].unique())

['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']

In [62]:
# Get unique values
print(marketing_customer_analysis['LOCATION_CODE'].unique())

['Suburban' 'Urban' 'Rural']

In [63]:
# Get unique values
print(marketing_customer_analysis['MARITAL_STATUS'].unique())

['Married' 'Single' 'Divorced']

In [64]:
# Get unique values
print(marketing_customer_analysis['MONTHS_SINCE_LAST_CLAIM'].unique())

[ 7.          3.         34.         10.         15.14907074  2.
  8.         35.         33.         19.         13.          5.
 24.         25.          6.         20.         26.         14.
  9.         29.         11.          1.         18.         16.
 30.         12.          4.         22.         31.         21.
 28.         17.         15.         32.         23.         27.
  0.        ]

In [65]:
print(marketing_customer_analysis['MONTHS_SINCE_LAST_CLAIM'].dtype)

float64

In [66]:
# Change 'MONTHS_SINCE_LAST_CLAIM' column from float to int
marketing_customer_analysis['MONTHS_SINCE_LAST_CLAIM'] = marketing_customer_analysis['MONTHS_SINCE_LAST_CLAIM'].astype(int)

In [67]:
print(marketing_customer_analysis['MONTHS_SINCE_LAST_CLAIM'].dtype)

int32

In [68]:
# Get unique values - check
print(marketing_customer_analysis['MONTHS_SINCE_LAST_CLAIM'].unique())

[ 7  3 34 10 15  2  8 35 33 19 13  5 24 25  6 20 26 14  9 29 11  1 18 16
 30 12  4 22 31 21 28 17 32 23 27  0]

In [69]:
# Get unique values
print(marketing_customer_analysis['MONTHS_SINCE_POLICY_INCEPTION'].unique())

[52 26 31  3 73 99 45 24  8 29 32 25 28 87 10 74  1 38 58 37  7 80 95 78
 63 27 97 39 11 59 46 62 13 54 51 22 82 91 44 43 76 48 84  6 92 12 61  4
 18 66 70 16 75 34 35 64  9 89  0 60 71 23 55 93  2 67 81 40 57 86 19 72
 69 33 47 42 17 49 21 83 94 30 15 50 53 77 41 90  5 79 56 98 20 88 65 14
 85 96 36 68]

In [70]:
# Get unique values
print(marketing_customer_analysis['NUMBER_OF_POLICIES'].unique())

[9 1 2 7 4 3 6 8 5]

In [71]:
# Get unique values
print(marketing_customer_analysis['POLICY'].unique())

['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']

In [72]:
# Get unique values
print(marketing_customer_analysis['RENEW_OFFER_TYPE'].unique())

['Offer3' 'Offer4' 'Offer2' 'Offer1']

In [73]:
# Get unique values
print(marketing_customer_analysis['SALES_CHANNEL'].unique())

['Agent' 'Call Center' 'Branch' 'Web']

In [74]:
# Get unique values
print(marketing_customer_analysis['VEHICLE_SIZE'].unique())

['Medsize' 'Small' 'Large']

In [75]:
# Get unique values
print(marketing_customer_analysis['VEHICLE_TYPE'].unique())

['A']

In [76]:
# Get unique values
print(marketing_customer_analysis['MONTH'].unique())

[2 1]

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [78]:
# Create pivot table: total revenue by sales channel
pivot = pd.pivot_table(
    marketing_customer_analysis,
    index="SALES_CHANNEL",
    values="TOTAL_CLAIM_AMOUNT",
    aggfunc="sum"
).round(2)

print(pivot)

               TOTAL_CLAIM_AMOUNT
SALES_CHANNEL
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [79]:
# Create the pivot table
pivot_clv = pd.pivot_table(
    marketing_customer_analysis,
    index='GENDER',           
    columns='EDUCATION',       
    values='CUSTOMER_LIFETIME_VALUE',  
    aggfunc='mean'             
).round(2)                     

print(pivot_clv)

EDUCATION  Bachelor  College   Doctor  High School or Below   Master
GENDER
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [80]:
# Group by policy type and month, count complaints
summary = marketing_customer_analysis.groupby(['POLICY_TYPE', 'MONTH'])['NUMBER_OF_OPEN_COMPLAINTS'].sum().reset_index()

In [81]:
# Rename column for clarity
summary = summary.rename(columns={'NUMBER_OF_OPEN_COMPLAINTS': 'TOTAL_COMPLAINTS'})

In [82]:
summary

      POLICY_TYPE  MONTH  TOTAL_COMPLAINTS
0  Corporate Auto      1        443.434952
1  Corporate Auto      2        385.208135
2   Personal Auto      1       1727.605722
3   Personal Auto      2       1453.684441
4    Special Auto      1         87.074049
5    Special Auto      2         95.226817